ul,
div,
section,
button,
nav,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
hr {
  display: flex;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p,
hr {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
button {
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
}
.list {
  list-style-type: none;
}
.button {
}
.container {
  margin: 0 auto;
}
.header {
  font-family: "Gilroy";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-image: url("../img/header__background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__body {
    flex-direction: column;
    width: 88%;
    max-width: 1280px;
    height: fit-content;
  }

  &__contacts {
    align-items: center;
    height: 54px;
    background: rgba(0, 0, 0, 0.31);
    .container {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__contact {
    &:first-of-type {
      margin-right: 47px;
    }
  }

  &__socials {
    margin-left: 105px;
    width: 102px;
    justify-content: space-between;
  }

  &__social {
  }

  &__navigation {
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
  }

  &__list {
    max-width: 682px;
    width: 53%;
    justify-content: space-between;
    min-height: 25px;
  }

  &__item {
    flex-direction: column;
    &:hover {
      color: #ff9900;
      &::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: 2px;
        height: 1px;
        background-color: #ff9900;
      }
    }
    &:active {
      color: #ca7d08;
      &::after {
        background-color: #ca7d08;
      }
    }
  }

  &__link {
    color: inherit;
    text-align: center;
    height: 100%;
  }

  &__button {
    width: 166px;
    height: 37px;
    background-color: transparent;
    border: 2px solid #ff9900;
    color: #ff9900;
    &:hover {
      background-color: #ff9900;
      color: inherit;
      cursor: pointer;
    }
    &:active {
      background-color: #ca7d08;
      border-color: #ca7d08;
    }
  }
  .header-about {
    justify-content: center;
    flex-direction: column;
    max-width: 860px;
    width: 67%;
    margin: 136px auto 248px auto;
    &__title {
      font-family: "Playfair Display";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      margin-bottom: 30px;
    }

    &__text {
      font-family: "Gilroy";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      max-width: 776px;
      width: 90%;
      margin-bottom: 60px;
    }

    &__button {
      background-color: #ff9900;
      color: inherit;
      width: 166px;
      height: 43px;
      border: none;
      &:hover {
        background-color: #eb8d00;
        cursor: pointer;
      }
      &:active {
        background-color: #ca7d08;
      }
    }
  }
  .header-advantages {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    min-height: 169px;
    align-items: center;
    &__container {
      width: 88%;
      max-width: 1280px;
      justify-content: space-between;
    }
    &__item {
      height: 92px;
      width: fit-content;
    }

    &__text {
      z-index: 100;
      text-align: left;
    }

    &__img {
      z-index: -100;
      position: relative;
      right: 50px;
    }
  }
}
.about {
  min-height: 766px;
  font-family: "Gilroy";
  background: url("../img/two-bedroom-x2--plan\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: left;
  letter-spacing: 0.20000000298023224px;
  font-weight: 400;
  font-style: normal;
  &__left {
    background-image: url("../img/charles-deluvio-c2thq3SXJiA-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    width: 38%;
    max-width: 554px;
    color: #fff;
  }

  &__years {
    background: #ffb800;
    flex-direction: column;
    width: 238px;
    height: 220px;
    align-self: flex-end;
    padding: 12px 0 32px 34px;
    span {
      font-family: "Playfair Display";
      font-size: 70px;
      line-height: 98px;
    }
    p {
      font-size: 30px;
      line-height: 42px;
    }
  }

  &__right {
    flex-direction: column;
    width: 100%;
    padding: 148px 0 202px 187px;
  }

  &__subtitle {
    color: #ff9900;
    letter-spacing: 9.699999809265137px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  &__title {
    line-height: 56px;
    margin: 8px 0 27px 0;
    font-family: "Playfair Display";
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    font-style: normal;
  }

  &__text {
    max-width: 542px;
    font-size: 18px;
    line-height: 25px;
  }
}
.workStages {
  background-color: #000;
  color: #fff;
  &__container {
    padding-top: 65px;
    flex-direction: column;
    min-height: 531px;
    max-width: 1116px;
    width: 77%;
    align-items: center;
  }

  &__title,
  &__subtitle {
    width: 100%;
  }
  &__subtitle {
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 9.699999809265137px;
    text-align: left;
    color: #ff9900;
    text-transform: uppercase;
  }

  &__title {
    margin: 8px 0 98px 0;
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }

  &__visualization {
    max-width: 1028px;
    width: 92%;
  }

  &__stages {
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }

  &__stage {
  }
}
.portfolio {
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  &__subtitle {
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 9.699999809265137px;
    text-align: center;
    text-transform: uppercase;
    color: #ff9900;
  }

  &__title {
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__body {
    width: 100%;
    padding-left: 12%;
    justify-content: space-between;
  }
}
.portfolio-item {
  flex-direction: column;
  max-width: 504px;
  width: 35%;
  justify-content: center;
  &__title {
    font-family: "Gilroy";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }

  &__text {
    margin: 24px 0 30px 0;
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }

  &__info {
    align-items: center;
    span:first-of-type {
      font-family: "Gilroy";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
    }
    &:first-of-type {
      margin-bottom: 12px;
    }
    span:nth-child(2) {
      font-family: "Gilroy";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      margin-left: 13px;
      color: #fff;
    }
  }
}
.portfolio-slider {
  max-width: 648px;
  width: 45%;
  height: fit-content;
  justify-self: end;
  &__photos {
    max-width: 102px;
    width: 16%;
    img:nth-child(2) {
      margin: 5px 0;
    }
    flex-direction: column;
    margin-right: 5px;
  }

  &__main {
    flex-direction: column;
    width: 83%;
    max-width: 541px;
  }

  &__controls {
    height: 94px;
    width: 100%;
    background: #ffb800;
    justify-content: space-between;
    padding: 0 14% 0 22%;
  }

  &__indecators {
    width: 93px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__button:first-of-type {
    margin-right: 60px;
  }
}

.slider__button {
  background: none;
  border: none;
}
.reviews {
  background-image: url("../img/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  &__body {
    flex-direction: column;
    align-items: center;
    min-height: 671px;
    max-width: 766px;
    width: 53%;
    padding: 75px 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
  }
  &__subtitle {
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 9.699999809265137px;
    text-align: center;
    text-transform: uppercase;
    color: #ff9900;
  }

  &__title {
    margin: 8px 0 82px 0;
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }
}
.reviews-slider {
  flex-direction: column;
  align-items: center;
  max-width: 561px;
  width: 84%;
  &__text {
    text-align: center;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  &__sender {
    font-family: "Gilroy";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    margin: 19px 0 106px 0;
  }

  &__controls {
    width: 200px;
    justify-content: space-between;
  }

  &__indecators {
    width: 75px;
    justify-content: space-between;
    align-items: center;
  }
}

.connection {
  background: #ffb800;
  min-height: 370px;
  padding: 45px 0 40px 0;
  color: #fff;
  &__container {
    flex-direction: column;
    max-width: 705px;
    width: 49%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 7px;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__subtitle {
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  &__inputs {
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.07em;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #ffffff;
    width: 304px;
    padding: 3px 0 3px 0;
    height: 36px;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
    &:last-of-type {
      width: 100%;
      margin-top: 40px;
    }
  }
  &__button {
    width: 128px;
    height: 42px;
    justify-content: center;
    border: none;
    background-color: #fff;
    color: #ffb800;
    &:hover {
      background-color: rgb(248, 248, 248);
      cursor: pointer;
    }
    &:active {
      background-color: rgb(240, 240, 240);
    }
  }
}

.footer {
  background-color: #000;
  &__body {
    min-height: 403px;
    max-width: 1196px;
    width: 82%;
    align-items: center;
    justify-content: space-between;
  }

  &__discription,
  &__contacts,
  &__socials {
    flex-direction: column;
  }
  &__discription {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.6999996900558472px;
    text-align: left;
    color: #fff;
    max-width: 308px;
    img {
      width: 71px;
      margin-bottom: 30px;
    }
  }

  &__text {
  }

  &__contacts {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;

    text-align: left;
    color: #fff;
  }

  &__adress {
    span {
      font-weight: 700;
    }
    margin-bottom: 45px;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;

    text-align: left;
  }

  &__phone {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
  }
  &__social {
    &:nth-of-type(2) {
      margin: 20px 0;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgba(255, 255, 255, 0.29);
  }
  &__copyright {
    min-height: 48px;
    align-items: center;
    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.005em;

      color: rgba(255, 255, 255, 0.29);

      max-width: 1196px;
      width: 82%;
    }
  }
}
.footer-nav {
  flex-direction: column;
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #fff;

  &__list {
    flex-direction: column;
  }

  &__item {
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
  }

  &__link {
    color: #fff;
    margin-top: 23px;
    &:hover {
      color: #ff9900;
    }
    &:active {
      color: #ca7d08;
    }
  }
}
.social {
  &:hover {
    cursor: pointer;
    svg {
      path {
        fill: #ff9900;
        fill-opacity: 1;
      }
    }
    &:active {
      svg {
        path {
          stroke: #eb8d00;
          fill-opacity: 1;
        }
      }
    }
  }
}
.control__hover {
  &:hover {
    cursor: pointer;
    svg {
      path {
        stroke: #ff9900;
        stroke-opacity: 1;
      }
    }
    &:active {
      svg {
        path {
          stroke: #eb8d00;
          stroke-opacity: 1;
        }
      }
    }
  }
}
